h1,h2 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1{
    text-align: center;
}

button a{
    text-decoration: none;
    color:white; 
}

button a:hover{
    color:black; 
}

#header{
    text-align: center;
}
.adminFields{
    display: flex;
    justify-content: flex-end;
    margin-right:30px;
}

.adminFields input, .adminBtns, .userBtns, .regularBtns{
    border-radius: 4px;
    border:1px solid grey;
    padding:5px;
}

.adminBtns, .userBtns, .regularBtns{
    margin-left:5px;
}

.adminBtns{
    background:red;
}

.userBtns{
    background:green;
}

.regularBtns{
    background:rgb(72, 72, 250);
    margin-top: 20px;
}

.adminFields input[type="submit"]{
    color: white;
    background:black;
    transition: 0.3s;
} 

.adminFields input[type="submit"]:hover{
    background:green;
    cursor: pointer;
} 

.posts{
    color:black;
    background: rgb(231, 231, 231);
    transition: 0.3s;
    padding:20px;
    margin:20px auto;  
    border-radius: 10px;
    width:70%;
}
.posts:hover{
    color: #0085a1;
}

button:hover{
    cursor: pointer;
}

.reportedComments{
    background:rgb(245, 176, 176) !important;
}

.acceptDenyComments{
    background:lightblue !important;

}

.reportedComments p:first-child{
    background: red;
    color: white;
}

.noReportedComments, .noCommentsToManage{
    color: white;
    font-weight: bold;
    background: rgb(84, 212, 84);
    text-align: center;
    margin: 50px;
    padding: 20px;
}