h1,h2 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1{
    text-align: center;
}

button a{
    text-decoration: none;
    color:white; 
}

button a:hover{
    color:black; 
}

#header{
    text-align: center;
}
.adminFields{
    display: flex;
    justify-content: flex-end;
    margin-right:30px;
}

.adminFields input, .adminBtns, .userBtns, .regularBtns{
    border-radius: 4px;
    border:1px solid grey;
    padding:5px;
}

.adminBtns, .userBtns, .regularBtns{
    margin-left:5px;
}

.adminBtns{
    background:red;
}

.userBtns{
    background:green;
}

.regularBtns{
    background:rgb(72, 72, 250);
    margin-top: 20px;
}

.adminFields input[type="submit"]{
    color: white;
    background:black;
    transition: 0.3s;
} 

.adminFields input[type="submit"]:hover{
    background:green;
    cursor: pointer;
} 

.postsBlock{
    color:black;
    background: rgb(231, 231, 231);
    transition: 0.3s;
    padding:20px;
    margin:20px auto;  
    border-radius: 10px;
    width:70%;
    height:100%;
}

.postsBlock:hover{
    color: #0085a1;
}

/* Publish View */
#postContent{
    width: 100%;
    height: 800px;
    margin:auto;
}


/* Post View */
.postAndlastPosts{
    display:flex;
    justify-content: flex-start;
}

.postsPostView{
    flex:2;
    color:black;
    background: rgb(231, 231, 231);
    padding:20px;
    margin:20px;
    height:100%;
    border-radius: 10px;
}


.lastPosts{
    flex:1;
    height:100%;
    font-size: 0.8em;
    text-align: center;
    background: lightblue;
    margin:20px;
    border-radius: 10px;
}

.lastPostsP{
    margin: 20px 20px 0 20px;
}

h4{
    border-top: 1px solid black;
}

button:hover{
    cursor: pointer;
}

.reportedComments{
    background:rgb(245, 176, 176) !important;
}

.reportedComments p:first-child{
    background: red;
    color: white;
}

.noCommentsToManage{
    color: white;
    font-weight: bold;
    background: rgb(84, 212, 84);
    text-align: center;
    margin: 50px;
    padding: 20px;
}