h1,h2 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h1{
    text-align: center;
}

button a{
    text-decoration: none;
    color:white; 
}

button a:hover{
    color:black; 
}

#header{
    text-align: center;
}
.adminFields{
    display: flex;
    justify-content: flex-end;
    margin-right:30px;
}

.adminFields input, .adminBtns, .userBtns, .regularBtns, [class*="editBtns"]{
    border-radius: 4px;
    border:1px solid grey;
    padding:5px;
}

.adminBtns, .userBtns, .regularBtns{
    margin-left:5px;
}

.adminBtns{
    background:red;
}

.userBtns{
    background:green;
}

.regularBtns{
    background:rgb(72, 72, 250);
    margin-top: 20px;
}

[class*="editBtns"]{
    background:rgb(212, 0, 255);
    color:white;
}

[class*="editCommentForm"]{
    display:none;
}

.adminFields input[type="submit"]{
    color: white;
    background:black;
    transition: 0.3s;
} 

.adminFields input[type="submit"]:hover{
    background:green;
    cursor: pointer;
} 

.postsBlock{
    color:black;
    background: rgb(231, 231, 231);
    transition: 0.3s;
    padding:20px;
    margin:20px auto;  
    border-radius: 10px;
    width:70%;
    height:100%;
    overflow-wrap: break-word;
}

.postsBlock:hover{
    color: #0085a1;
}

/* Publish View */
#postContent{
    width: 100%;
    height: 800px;
    margin:auto;
}


/* Post View */
.postAndlastPosts{
    display:flex;
    justify-content: flex-start;
}

.postsPostView{
    flex:2;
    color:black;
    background: rgb(231, 231, 231);
    padding:20px;
    margin:20px;
    width:70%;
    height:100%;
    border-radius: 10px;
    overflow-wrap: break-word;
}


.lastPosts{
    flex:1;
    height:100%;
    font-size: 0.8em;
    text-align: center;
    background: lightblue;
    margin:20px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.lastPostsP{
    margin: 20px 20px 0 20px;

}

h4{
    border-top: 1px solid black;
}

button:hover{
    cursor: pointer;
}

.adminMenu{
    display:flex;
    justify-content : center;
}
.comAlert{
    /* display:none; */
    width:15px;
    height:15px;
    background:green;
    border-radius:50%;
}

.manageComBtns{
    display:flex;
    position: fixed;
    top: 0;
    right: 0;
}

.manageComBtn{
    background:orange;
    margin:5px;
}

.comments{
    overflow-wrap: break-word;
}
.reportedComments{
    background:rgb(245, 176, 176) !important;
    overflow-wrap: break-word;
}

.reportedComments p:first-child{
    background: red;
    color: white;
}

.acceptDenyComments{
    background:lightblue !important;
    overflow-wrap: break-word;
}

.commentHead{
    background: red;
    color: white;
}

.noReportedComments, .noCommentsToManage{
    color: white;
    font-weight: bold;
    background: rgb(84, 212, 84);
    text-align: center;
    margin: 50px;
    padding: 20px;
}



.comAlert{
    width:15px;
    height:15px;
    background:green;
    border-radius:50%;
}

.usersDisplay{
    background:lightgrey !important;
    overflow-wrap: break-word;
}

.usersDisplay p:first-child{
    background: grey;
    color: white;
}


.signInConfirmation{
    text-align: center;
    background : lightgreen;
    width : 200px;
    height : 200px;
    z-index : 2;
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
    border-radius: 30px;
}


.commentConfirmation{
    text-align: center;
    background : lightgreen;
    width : 200px;
    height : 200px;
    z-index : 2;
    position: absolute;
    top: 55vw;
    right: 50vw;
    left: 50vw;
    bottom: 50vw;
    border-radius: 30px;
}

.updateComConfirmation{
    text-align: center;
    background : lightgreen;
    width : 200px;
    height : 200px;
    z-index : 2;
    position: absolute;
    top: 55vw;
    right: 50vw;
    left: 50vw;
    bottom: 50vw;
    border-radius: 30px;
}

.about{
    display:flex;
    align-items: center;
    margin:50px;
}

.textAbout{
    margin:150px;
}

/* Statistics */

.chapterStatsContainer{
    display: flex;
}

.chapterStats{
    height: 250px;
    margin: 60px 20px;
    border: 1px solid darkgrey;
}